# private data files
credentials.py
endpoints_.json
endpoints_backup.json
rdfmts_backup.json
rdfmts_private.json
*.log
*.out

# ignore directory
kgdata/
query_results/

# ignore
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
